body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    max-width: 36rem;
}

.bootstrap3 .container {
    max-width: 54rem;
}

.splash {
    border-bottom: 1px solid #EEE;
}
.splash h1 {
    color: #333;
    font-size: 4rem;
    font-weight: bold;
}

.bootstrap3 .splash h1 {
    font-size: 5rem;
}

.splash p {
    color: #555;
}

.splash a {
    text-decoration: underline;
}
